@model ProyectoDIACO.Models.Sucursal

@{
    ViewData["Title"] = "Create";
}

<h1>Nueva sucursal</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
          
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Región</label>
                        <select class="form-control" id="selectReg">

                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Departamento</label>
                        <select class="form-control" id="selectDepto">

                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Municipio</label>
                        <select asp-for="MunicipioId" class="form-control" id="selectMuni">

                        </select>
                        <span asp-validation-for="MunicipioId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <input type="number" asp-for="ComercioId" value='@ViewData["id_comercio"]' hidden/>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />         
                &nbsp;
                <a href='/Sucursals/Index/@ViewData["id_comercio"]' class="btn btn-secondary">Atras</a>
            </div>
        </form>
    </div>
</div>



<script>
    var municipios = [];
    var departamentos = [];
    var regiones = [];


</script>
@foreach(var a in (List<Ubicacion>)ViewData["municipios"])
{
    <script>
        municipios.push({UbicacionId: @a.UbicacionId, Tipo: @a.Tipo, Nombre: "@Html.DisplayFor(items => a.Nombre)", SububicacionId: @a.SububicacionId});
    </script>
}

@foreach(var a in (List<Ubicacion>)ViewData["departamentos"])
{
    <script>
        departamentos.push({UbicacionId: @a.UbicacionId, Tipo: @a.Tipo, Nombre: "@Html.DisplayFor(items => a.Nombre)", SububicacionId: @a.SububicacionId});
    </script>
}

@foreach(var a in (List<Ubicacion>)ViewData["regiones"])
{
    <script>
        regiones.push({UbicacionId: @a.UbicacionId, Tipo: @a.Tipo, Nombre: "@Html.DisplayFor(items => a.Nombre)", SububicacionId: 0});
    </script>
}

<script>

    $(document).ready(()=>{
        $("#selectReg").append(`<option value=""> --Seleccionar-- </option>`);
        regiones.forEach((val)=>{
            $("#selectReg").append(`<option value="${val.UbicacionId}">${val.Nombre}</option>`);
        });
    });

    $("#selectReg").change((event)=>{
        let id = $("#selectReg").val();
        $("#selectDepto").html("");
        $("#selectDepto").append(`<option value=""> --Seleccionar-- </option>`);
        departamentos.forEach((val)=>{
            if(val.SububicacionId==id){
                $("#selectDepto").append(`<option value="${val.UbicacionId}">${val.Nombre}</option>`);
            }
        });
    });

    $("#selectDepto").change((event)=>{
        let id = $("#selectDepto").val();
        $("#selectMuni").html("");
        $("#selectMuni").append(`<option value=""> --Seleccionar-- </option>`);
        municipios.forEach((val)=>{
            if(val.SububicacionId==id){
                $("#selectMuni").append(`<option value="${val.UbicacionId}">${val.Nombre}</option>`);
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
